body {
    color: black;
    font-family: "nikopol-regular";
    text-align: center;
    background-image: url("pinkbackground.jpeg");
    background-size: 100vw;
    background-attachment: fixed;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
}

