body {
    color: black;
    font-family: "fantasy";
    text-align: center;
    background-image: url("pinkbackground.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
}


header {
    position: fixed; /* Fixed positioning to keep it at the top */
    width: 100%; /* Full width */
    height: 150px; /* Adjust the height as needed */
    top: 0; /* Position it at the top */
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Center the text */
    z-index: 1000; /* Ensure it's on top of other content */
}

header img {
    max-width: 100%;
    height: auto;
}
